/*  your css code here. If applicable */
#box{
	display:flex;
	align-items:center;
	justify-content:center;
	width:200px;
	height:200px;
	margin:100px;
	color:purple;
	background-color:#ADD8E6;
	border:2px solid black;
}